# Generated folders while building the project
node_modules
parcel-debug-cache
public
.parcel-cache
cdk.out

# Master specific ignores
# outputs.json //temporarily commented out for debugging the frontend deployment

# API Keys and sensitive files
.env.json