# Redirect rules for SPA (Single Page Application)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  REACT_STRICT_MODE = "false"

[context.deploy-preview.environment]
  REACT_STRICT_MODE = "false"